In [15]:
# input() method  will be used to get inout from user ...
num1 :int = 6
print(num1)

6

In [16]:
# user input now 
num1 = input('Enter 1st Number:')
print(num1)

.

In [17]:
# this inout is also know as promises , 
# it has three states pending , state , fulfilled 
num2 = input('Enter 2nd Number')
num3 = input('Enter 3rd Number')
num4 = input('Enter 4th Number')
num5 = input('Enter 5th Number')
num6 = input('Enter 6th Number')
print(num2)
print(num3)
print(num4)
print(num5)
print(num6)

..
.
.
..

In [18]:
# new input() method 
name : str = input('Enter Your Name')
print(name)

.

# Tuple

In [27]:
fruits : tuple = ('apple','banana','Junaid', 'cherry' )
fruits

('apple', 'banana', 'Junaid', 'cherry')

In [20]:
fruits[1]

'banana'

In [23]:
fruits[2]

'cherry'

In [24]:
fruits[0:3]

('apple', 'banana', 'cherry')

In [ ]:
# we cant change or update in tuple (list) so  the tuple does not support list methods e.g insert(),

In [25]:
fruits

('apple', 'banana', 'cherry')

In [28]:
# fruits[0]= 'dates'

In [29]:
tu = (2,) # this is also  tuple , bit it only contains single one 
type(2)

int

In [30]:
# finding the type of variable 
type (tu)

tuple

# Member-ship operator

In [31]:
fruits

('apple', 'banana', 'Junaid', 'cherry')

In [32]:
'cherry' in fruits

True

In [33]:
'almonds' in fruits

False